target/
dbt_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
.dbtenv/
**/*.duckdb
**/*.duckdb.wal
duckdb.exe
data/
secrets.toml
.env
*.log
**/__pycache__/
**/*.py[cod]
**/*$py.class
package-lock.yml
.vscode