agate==1.7.0
appdirs==1.4.4
attrs==23.1.0
Babel==2.12.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.6
configobj==5.0.8
dbt-core==1.5.1
dbt-duckdb==1.5.2
dbt-extractor==0.4.1
diff-cover==7.5.0
duckcli==0.2.1
duckdb==0.8.0
future==0.18.3
hologram==0.0.16
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.2
jsonschema==4.17.3
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.1.3
mashumaro==3.6
minimal-snowplow-tracker==0.0.2
msgpack==1.0.5
networkx==2.8.8
packaging==23.1
parsedatetime==2.4
pathspec==0.11.1
pluggy==1.0.0
prompt-toolkit==3.0.38
protobuf==4.23.2
pycparser==2.21
Pygments==2.15.1
pyrsistent==0.19.3
pytest==7.3.1
python-dateutil==2.8.2
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
six==1.16.0
sqlfluff==2.1.2
sqlparse==0.4.3
tabulate==0.9.0
tblib==1.7.0
text-unidecode==1.3
tqdm==4.65.0
typing_extensions==4.6.3
urllib3==2.0.3
wcwidth==0.2.6
Werkzeug==2.3.6
